language: java
sudo: false

jdk:
  - oraclejdk8

install: true
script: ./travis.sh

cache:
  directories:
    - '$HOME/.m2/repository'

notifications:
  email: false
  webhooks:
  url:
   on_start: always
